{% extends 'base.html'%}
{% load static%}
{% block content%}
<meta name="viewport" content="width=device-width", initial-scale="1.0">
<div class="width">
<link rel="stylesheet" href="{% static 'home/home.css'%}">

<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <img src="{% static 'home/1.jpg'%}" style="width:100%">
    <div class="text1">Any sweet that you can imagine!</div>
  </div>

  <div class="mySlides fade">
    <img src="{% static 'home/2.jpg'%}" style="width:100%">
    <div class="text2">Any taste!</div>
  </div>

  <div class="mySlides fade">
    <img src="{% static 'home/3.jpg'%}" style="width:100%">
    <div class="text3">Any shape!</div>
  </div>
</div>

<div class="introductionblock">
  	<p class="introduction"><strong>Fast and Easy!</strong></p>
  	<p class="introductionexplaination">Ordering sweets has never been so easy just order and deleiver!<br>We are going to one of the most decent bakeries of city. </p>

  </div>
  <img class="chef" src="{% static 'home/8.jpg'%}" width=300 height="400">

  
  <div id="order">
    <form>
      {% csrf_token %}
      {{ form.as_p }}
    </form>
  </div>
  <div class="baker">
    <img id="cooks_1" src="{%static 'home/5.jpg'%}" width="300" hight="300"><br/>
    <figcaption>She is the best!</figcaption>

    <img id="cooks_2" src="{%static 'home/6.jpg'%}">
    <figcaption>She is the best!</figcaption>

    <img id="cooks_3" src="{%static 'home/7.jpg'%}">
    <figcaption>She is the best!</figcaption>
  </div>

  <script src="{% static 'home/home.js'%}"></script>
  </div>
{% endblock content%}